/* ==========================================
   SECTION
========================================== */

section{
    padding:120px 8%;
    scroll-margin-top:100px;
}

.section-title{
    text-align:center;
    margin-bottom:70px;
}

.section-title h2{
    font-size:45px;
    font-weight:700;
    color:#fff;
    position:relative;
    display:inline-block;
}

.section-title h2::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-12px;
    transform:translateX(-50%);
    width:70px;
    height:4px;
    border-radius:10px;
    background:linear-gradient(90deg,#6C63FF,#00D4FF);
}

/* ==========================================
   ABOUT
========================================== */

.about{
    padding-bottom:130
